@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

body {
    background-image: url('./CSS/imagenes/fondovideogame.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Rokkitt', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
