@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');

.landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingTitle{
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
    margin-top: 140px;
}

.buttonLandingP {
    margin-top: 220px;
}
