.containerHome {
    background-color: rgba(7, 32, 81, 0.631);
    background-size: contain;
    margin: 10px;
    flex-wrap: wrap;
}

.navBarHome{
    padding: 20px;
    border-bottom: #ffffff;
    border-bottom-width: 10px;
    background-color: rgba(7, 32, 81, 0.733);
}

.noLink{
    text-decoration: none;
    font-weight: bolder;
}

.card_contenedor {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sweet-warning {
    background-color: rgba(112, 126, 172, 0.901);
    border-radius: 15px;
}

.sweet-button {
    background-color: rgba(50, 95, 187, 0.966);
    border: none;
}
