.container {
    background-image: url('../CSS/imagenes/fondovideogame2.png');
    background-size: contain;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.card_contenedor {
    align-items: center;
    justify-content: center;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

