.containerHome {
    background-color: rgba(7, 32, 81, 0.631);
    background-size: contain;
    margin: 20x;
    padding: 10px;
    flex-wrap: wrap;
}

.navBarHome{
    padding: 20px;
    border-bottom: #ffffff;
    border-bottom-width: 10px;
    background-color: rgba(7, 32, 81, 0.733);
}

.noLink{
    text-decoration: none;
}

.card_contenedor {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

