@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

.headerNavbar{
    padding: 20px;
    font-family: 'Rokkitt', serif;
}

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .logo{
            margin-left: 40px;
            margin-top: 40px;
            cursor: pointer;
        }
        
        .createVG {
            --glow-color: rgb(250, 176, 255);
            --enhanced-glow-color: rgb(249, 206, 255);
            --btn-color: rgb(126, 61, 136);
            border: .25em solid var(--glow-color);
            padding: 1em 1.5em;
            color: var(--glow-color);
            font-size: 15px;
            font-weight: bold;
            font-family: inherit;
            background-color: var(--btn-color);
            border-radius: 1em;
            outline: none;
            box-shadow: 0 0 1em .25em var(--glow-color),
                   inset 0 0 .75em .25em var(--glow-color);
            text-shadow: 0 0 .5em var(--glow-color);
            position: relative;
            transition: all 0.3s;
            margin-top: 45px;
        }
           
        .createVG::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 120%;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--glow-spread-color);
            filter: blur(2em);
            opacity: .7;
            transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
        }
           
        .createVG:hover {
            color: var(--btn-color);
            background-color: var(--glow-color);
            box-shadow: 0 0 1em .25em var(--glow-color),
                   0 0 4em 2em var(--glow-spread-color),
                   inset 0 0 .75em .25em var(--glow-color);
        }
           
        .createVG:active {
            box-shadow: 0 0 0.6em .25em var(--glow-color),
                   0 0 2.5em 2em var(--glow-spread-color),
                   inset 0 0 .5em .25em var(--glow-color);
        }

    .sort-filter {
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        margin-left: 260px;
        margin-right: 260px;
        font-family: 'Rokkitt', serif;
    }

        .filter {
            border-radius: 3px;
            border-width: 2px;
            border-color: rgb(250, 176, 255);
            width: 140px;
            background: transparent;
            color: rgb(249, 206, 255);
            padding: 7px;
            font-family: inherit;
            cursor: pointer;
        }
            .options{
                background-color: rgba(255, 0, 255, 0.297);
                color: white;
            }

        .reset {
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.489);
            color: #82ffc9;
            font-weight: bolder;
            font-family: inherit;
            padding: 15px;
            box-shadow: 5px 5px 20px 5px rgba(27, 253, 156, 0.6);
            border: none;
            cursor: pointer;
        }
        .reset:hover {
            box-shadow: 10px 10px 20px 5px black;
            background-color: rgba(27, 253, 155, 0.253);
            color: rgba(0, 0, 0, 0.828);
            font-weight: bolder;
            border: none;
        }

