@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');

.header{
    padding: 20px;
}

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        .logo{
            margin-left: 50px;
            margin-top: 50px;
        }

        .reset {
            border-radius: 5px;
            background-color: black;
            color: turquoise;
            padding: 15px;
            box-shadow: 5px 5px 20px 5px turquoise;
            border: none;
            font-family: 'Press Start 2P', cursive;
        }

        .reset:hover {
            box-shadow: 10px 10px 20px 5px black;
            background-color: turquoise;
            color: black;
            font-weight: bolder;
            border: none;
        }

        .createVG{
            color:#ffffff;
            padding: 15px;
            border-radius: 5px;
            margin: 10px;
            font-size: 12px;
            border: 0cm;
            background-color: transparent;
            font-family: 'Press Start 2P', cursive;
        }
        .createVG:hover {
            box-shadow: 0 0 20px 5px turquoise;
            border-radius: 10px;
        }


    .sort-filter {
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        margin-left: 260px;
        margin-right: 260px;

    }

        .filter {
            border-radius: 3px;
            border-width: 3px;
            border-color: rgba(255, 0, 255, 0.462);
            background: transparent;
            color: fuchsia;
            padding: 5px;
        }

