.inputSearch {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    border-color: turquoise;
    text-align: center;
    margin: 20px;
    margin-left: 70px;
}
  
.inputSearch:hover {
    background-color: rgba(64, 224, 208, 0.256);
}

.buttonSearch {
    padding: 5px;
    color: turquoise;
    font-weight: bold;
    background: transparent;
    border-color: turquoise;
    border-radius: 5px;
}

.buttonSearch:hover {
    background-color: rgba(64, 224, 208, 0.669);
    color: white;
    font-weight: bold;
    border-color: white;
}
  