.input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(202, 190, 227);
    font-size: 18px;
    cursor: pointer;
    outline: none;
    align-items: center;
    justify-content: center;
}
  
.input:hover {
    background-color: rgb(129, 174, 196);
}
  