.pages {
    display: inline-flex;
    height: 10pxpx;
    flex-direction: row;
    margin: 8px;
}

.pageButton {
    border: none;
    background: transparent;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
}

.pageButton:hover {
    font-size: 25px;
    box-shadow: 5px 5px 20px 15px turquoise;
}