.paginado {
    display: inline-flex;
    margin: 10px;

}

.btnPages {
    background: transparent;
    color: rgba(255, 255, 255, 0.656);
    cursor: pointer;
    border: none;
}

.btnPages:hover {
    font-weight: bolder;
    font-size: 20px;
    color: rgba(51, 245, 161, 0.871);
}

.pages {
    display: inline-flex;
    height: 20px;
    flex-direction: row;
    margin: 8px;
}

.pageButton {
    border: none;
    background: transparent;
    color: rgba(255, 255, 255, 0.656);
    font-weight: bolder;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

.pageButton:hover {
    font-weight: bolder;
    color: rgba(27, 253, 156, 0.6);
}