@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');

.fondoCreate {
    background-color: rgba(5, 25, 50, 0.78);
    margin: 20px 150px 20px 150px;
}

    .contenedorCreate{
        display: flex;
        flex-direction: column;
    }

        .headerCreate{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 30px;
            margin-bottom: 30px;
        }

            .tituloCreate {
                color: white;
                font-family: 'Press Start 2P', cursive;
            }

            .botonHome{
                border-radius: 5px;
                background-color: black;
                color:  #37FF8B;
                cursor: pointer;
                padding: 10px;
                margin-top: 18px;
                box-shadow: 5px 5px 10px 3px  #37FF8B;
                border: none;
                font-family: inherit;
                font-weight: bolder;
            }
            .botonHome:hover {
                box-shadow: 5px 5px 10px 5px black;
                background-color:  #37FF8B;
                color: black;
                border: none;
            }

    .formulario{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 10px;
        height: 600px;
    }

        .item {
            color: white;
            font-weight: bold;
            flex-direction: row;
            width: 30%;
            margin-bottom: 60px;
            margin-top: 20px;
        }

        .label {
            display: flex;
            flex: 1;
            font-weight: bold;
            font-size: 20px;
            text-align:start;
        }

        .inputCreate {
            border-radius: 5px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-width: 3px;
            border-bottom-color: rgba(64, 224, 208, 0.569);
            background-color: transparent;
            color: rgb(184, 178, 178);
            padding: 5px;
            cursor: pointer;
            font-size: 18px;
            width: 250px;
        }

        .ul {
            list-style: none;
        }

        .buttonDelete {
            background: transparent;
            border-color: rgba(255, 0, 255, 0.653);
            color: rgba(209, 99, 209, 0.907);
            font-weight: bolder;
            cursor: pointer;
            justify-content: center;
            border-radius: 5px;
            border: none;
        }
        .buttonDelete:hover {
            background-color: rgba(255, 0, 255, 0.546);
            color: white;
            border: none;
        }

        .button {
            margin: 20px;
            background: transparent;
            padding: 0;
            border: none;
            font-family: 'Press Start 2P', cursive;
            cursor: pointer;
        } 
        .button {
            --border-right: 6px;
            --text-stroke-color: rgba(255,255,255,0.6);
            --animation-color: #37FF8B;
            --fs-size: 2em;
            letter-spacing: 3px;
            text-decoration: none;
            font-size: var(--fs-size);
            font-family: inherit;
            position: relative;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 1px var(--text-stroke-color);
        }
        .hover-text {
            position: absolute;
            box-sizing: border-box;
            content: attr(data-text);
            color: var(--animation-color);
            width: 0%;
            inset: 0;
            border-right: var(--border-right) solid var(--animation-color);
            overflow: hidden;
            transition: 0.5s;
            -webkit-text-stroke: 1px var(--animation-color);
        }
        .button:hover .hover-text {
            width: 100%;
            filter: drop-shadow(0 0 23px var(--animation-color))
        }