@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Varela+Round&display=swap');

.fondo {
    background-color: rgba(49, 50, 5, 0.483);
}

    .contenedorCreate{
        display: flex;
        flex-direction: column;
    }

        .top{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 50px;
        }

            .tituloCreate {
                color: white;
                font-family: 'Press Start 2P', cursive;
                margin-left: 18%;
            }

            .botonHome{
                border-radius: 5px;
                background-color: black;
                color: turquoise;
                padding: 10px;
                margin-right: -10px;
                margin-top: 20px;
                box-shadow: 10px 10px 20px 5px turquoise;
                font-family: 'Press Start 2P', cursive;
                border: none;
            }
    
            .botonHome:hover {
                box-shadow: 10px 10px 20px 5px black;
                background-color: turquoise;
                color: black;
                border: none;
            }

    .formulario{
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

        .item {
            color: white;
            font-weight: bold;
            flex-direction: row;
            margin: 30px;
            justify-items: left;
        }

        .label {
            font-weight: bold;
            font-size: 18px;
        }

        .inputCreate {
            margin-left: 20px;
            border-radius: 5px;
            border-width: 3px;
            border-color: rgba(64, 224, 208, 0.395);
            background-color: rgba(64, 224, 208, 0.256);
            color: white;
            padding: 5px;
            cursor: pointer;
            text-align: center;
            font-size: 18px;
        }

        .buttonDelete {
            background: transparent;
            border-color: fuchsia;
            color: fuchsia;
            font-weight: bolder;
            border-radius: 5px;
            border: none;
        }

        .buttonDelete:hover {
            background-color: fuchsia;
            border-color: white;
            color: white;
        }

        .botonCreateVideogame {
            border-radius: 5px;
            background-color: black;
            color: fuchsia;
            padding: 10px;
            margin: 20px;
            box-shadow: 10px 10px 20px 5px fuchsia;
            font-family: 'Press Start 2P', cursive;
            border: none;
            margin: 30px;
        }

        .botonCreateVideogame:hover {
            box-shadow: 10px 10px 20px 5px black;
            background-color: fuchsia;
            color: black;
            border: none;
        }