.detailContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 25, 50, 0.773);
    justify-content: center;
    align-items: center;
    margin: 25px 40px 25px 40px;
}
.headerDetail{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    color: white;
}
    .titleDetail {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .gameNameDetail {
        font-size: 50px;
        color: white;
    }

    .rating {
        margin:0px
    }

    .homeDetailBtn{
        border-radius: 5px;
        background-color: black;
        color: #37FF8B;
        padding: 10px;
        box-shadow: 5px 5px 10px 3px  #37FF8B;
        font-family: inherit;
        font-weight: bolder;
        margin-top: 55px;
        position: fixed;
        margin-left: 200px;
        cursor: pointer;
    }

    .homeDetailBtn:hover {
        box-shadow: 10px 10px 20px 5px black;
        background-color: #37FF8B;
        color: black;
        font-weight: bolder;
    }

    .detailGame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        margin: 30px;
    }

        .infoGame {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 20px;
        }

            .description {
                text-align: justify;
                margin: 5px;
            }

        .imageDetail {
            align-self: center;
            height: 45%;
            width: 45%;
            margin: 30px;
            border-style: double;
            border-color: black;
            border-radius: 15px;
            box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.909);
        }