.detailContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 25, 50, 0.773);
    justify-content: center;
    align-items: center;
    margin: 25px 40px 25px 40px;
}
.headerDetail{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    color: white;
}
    .titleDetail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gameNameDetail {
        font-size: 30px;
        color: white;
    }

    .homeDetailBtn{
        border-radius: 5px;
        background-color: black;
        color: turquoise;
        padding: 10px;
        box-shadow: 10px 10px 20px 5px turquoise;
        font-family: 'Press Start 2P', cursive;
        margin-top: 20px;
        position: fixed;
        margin-left: 100px;
        cursor: pointer;
    }

    .homeDetailBtn:hover {
        box-shadow: 10px 10px 20px 5px black;
        background-color: turquoise;
        color: black;
        font-weight: bolder;
    }

    .detailGame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        margin: 30px;
    }

        .infoGame {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 20px;
        }

            .description {
                text-align: justify;
                margin: 5px;
            }

        .imageDetail {
            align-self: center;
            height: 45%;
            width: 45%;
            margin: 30px;
            border-style: double;
            border-color: black;
            border-radius: 15px;
        }